// place your custom styles here

.vp-sidebar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

img.vp-icon[src$="/assets/icon/workbuddy.png"] {
  border-radius: 18%;
}
